.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .picture {
    padding: 1rem;
    width: 400px;
    a {
      margin-left: 7.5rem;
      background-color: rgb(129, 129, 129);
      padding: 0.3rem;
      margin-bottom: 2rem;
    }
    .imageContainer {
      overflow: hidden;
      height: 40vh;
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}
